<html>
  <head>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/hyperformula/dist/hyperformula.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css"
    />
  </head>

  <body>
    <div id="example"></div>
    <iframe
      id="iFrameID"
      style="width: 700px; height: 700px"
      src="javascript:void(0);"
    ></iframe>
    <script>
      const hf = HyperFormula.buildEmpty({
        licenseKey: "internal-use-in-handsontable",
      });

      const container = document.querySelector("#example");

      const columns = ["A", "B", "C", "D"];

      const logGroupDFG = (address) => {
        // We can handle 1-d vectors and 2-d vectors
        // But we don't use their equations, I don't think.
        // Maybe we can handle it, just interpret it as vec<x>
        // The question is, if there is a pattern in the equation
        // can we pattern match it, and of course we could, but
        // that's too much here.

        // Format for our address is
        // { sheet: 0, startCol, startRow, endCol, endRow }

        // Need to check against the hyperformula format
        // We want to get the cell values, and send them back

      }

      const logDFG = (address) => {
        const datadict = {};
        const nodes = [];
        const toVisit = [{ addr: address, parent: null }];
        let debugTimer = 0;
        let rootName = "";
        while (toVisit.length > 0 && debugTimer < 10) {
          // Load the node to send to the server
          debugTimer = debugTimer + 1;
          const visited = toVisit.shift();
          const visitVal = hf.getCellValue(visited.addr);
          // const addrKey = "row" + visited.addr.row + "col" + visited.addr.col;

          const addrKey = columns[visited.addr.col] + (visited.addr.row + 1);
          datadict[String(addrKey)] = visitVal;
          const curr = {
            name: addrKey,
            parent: visited.parent,
            input_data: [],
            output_data: addrKey,
          };

          if (rootName.length < 1) {
            rootName = addrKey;
          }

          const hasFormula = hf.doesCellHaveFormula(visited.addr);
          if (hasFormula) {
            const formula = hf.getCellFormula(visited.addr);
            if (formula.includes("SUM")) {
              curr["function"] = "vector_sum";
              // Child is a vector
              // =SUM(C2:C5)

              curr["input_data"] = [formula.slice(4)];
            }
            if (formula.includes("AVERAGE")) {
              curr["function"] = "mean";
              // Child is a vector
              // =AVERAGE(C2:C5)

              curr["input_data"] = [formula.slice(8)];
            }
            if (formula.includes("+")) {
              curr["function"] = "scalar_sum";
              // =B2-C2
              curr["input_data"] = [formula.slice(1, 3), formula.slice(4, 6)];
            }
            if (formula.includes("-")) {
              curr["function"] = "scalar_diff";
              curr["input_data"] = [formula.slice(1, 3), formula.slice(4, 6)];
            }
          } else {
            curr["function"] = "scalar";
          }

          nodes.push(curr);

          // BFS
          const precedents = hf.getCellPrecedents(visited.addr);
          if (["vector_sum", "mean"].includes(curr["function"])) {
            const rangeVals = hf.getRangeValues(precedents[0]);
            const formattedVals = [];
            for (let j = 0; j < rangeVals.length; j++) {
              formattedVals[j] = rangeVals[j][0];
            }
            datadict[curr["input_data"]] = formattedVals;
            const childNode = {
              name: curr["input_data"],
              parent: curr.name,
              function: "vector",
              input_data: [],
              output_data: visitVal,
            };

            nodes.push(childNode);
          } else {
            let p;
            for (let i = 0; i < precedents.length; i++) {
              p = precedents[i];
              toVisit.push({ addr: p, parent: curr.name });
            }
          }

          $.ajax({
            type: "POST",
            url: "/postSpecs",
            data: JSON.stringify({ nodes, datadict, rootName }),
            contentType: "application/json",

            success: function (response_data) {
              console.log("reloading iframe...");
              $.ajax({
                type: "GET",
                url: "/chart.html",
                success: function (htmlresponse) {
                  document.getElementById("iFrameID").src =
                    "data:text/html;charset=utf-8," + escape(htmlresponse);
                },
              });
            },
            error: function () {
              console.log("request failed");
            },
          });
        }
      };

      const afterFormulasValuesUpdate = (changes) => {
        changes.forEach((change) => {
          console.log("change", change.address, change.newValue);

          console.log(
            "precedents",
            hf.getCellPrecedents({
              sheet: change.address.sheet,
              col: change.address.col,
              row: change.address.row,
            })
          );
        });
      };

      const whale = [
        ["Day", "Hazard Rate", "Change in %"],
        ["8/2", "8.0%", ""],
        ["8/3", "10.0%", "=B3-B2"],
        ["8/4", "13.0%", "=B4-B3"],
        ["8/5", "18.0%", "=B5-B4"],
        ["8/6", "13.0%", "=B6-B5"],
        ["8/7", "11.0%", "=B7-B6"],
        ["wrong", "$100/sum", "=100/sum(C3:C7)"],
        ["right", "$100/sum", "=100/(AVERAGE(C3:C7))"],
      ];
      const example = [
        ["Month", "Revenue", "Expense", "P/L"],
        ["Jan", 450, 200, ""],
        ["Feb", 300, 180, ""],
        ["Mar", 240, 230, ""],
        ["Apr", 350, 200, ""],
        ["May", 300, 110, ""],
        ["Jun", 240, 220, ""],
        ["Jul", 420, 100, ""],
        ["Aug", 400, 80, ""],
        ["Sep", 440, 330, ""],
        ["", "", "", ""],
      ];

      const simpson = [
        ["Major", "Enrolled", "Graduated in 4 years", '', 'Major', 'BOTH-Total', 'BOTH-Graduated', 'BOTH-Percent', '2000-2010-Total', '2000-2010-Graduated', '2000-2010-Percent', '2010-2015-Total', '2010-2015-Graduated', '2010-2015-Percent'],
        ["C", "2010-2015", "No", '', 'A', '=COUNTIF(A2:A31, E2)', '=COUNTIFS(A2:A31,E2,C2:C31,"Yes")', '=G2/F2', '=COUNTIFS(A2:A31, E2, B2:B31,"2000-2010")', '=COUNTIFS(A2:A31,E2,C2:C31,"Yes",  B2:B31,"2000-2010")', '=J2/I2', '=COUNTIFS(A2:A31, E2, B2:B31,"2010-2015")', '=COUNTIFS(A2:A31,E2,C2:C31,"Yes",  B2:B31,"2010-2015")', '=M2/L2'],
        ["B", "2000-2010", "Yes", '', 'B', '=COUNTIF(A2:A31, E3)', '=COUNTIFS(A2:A31,E3,C2:C31,"Yes")', '=G3/F3', '=COUNTIFS(A2:A31, E3, B2:B31,"2000-2010")', '=COUNTIFS(A2:A31,E3,C2:C31,"Yes",  B2:B31,"2000-2010")', '=J3/I3', '=COUNTIFS(A2:A31, E3, B2:B31,"2010-2015")', '=COUNTIFS(A2:A31,E3,C2:C31,"Yes",  B2:B31,"2010-2015")', '=M3/L3'],
        ["Other", "2010-2015", "Yes", '', 'C', '=COUNTIF(A2:A31, E4)', '=COUNTIFS(A2:A31,E4,C2:C31,"Yes")', '=G4/F4', '=COUNTIFS(A2:A31, E4, B2:B31,"2000-2010")', '=COUNTIFS(A2:A31,E4,C2:C31,"Yes",  B2:B31,"2000-2010")', '=J4/I4', '=COUNTIFS(A2:A31, E4, B2:B31,"2010-2015")', '=COUNTIFS(A2:A31,E4,C2:C31,"Yes",  B2:B31,"2010-2015")', '=M4/L4'],
        ["Other", "2000-2010", "Yes", '', 'D', '=COUNTIF(A2:A31, E5)', '=COUNTIFS(A2:A31,E5,C2:C31,"Yes")', '=G5/F5', '=COUNTIFS(A2:A31, E5, B2:B31,"2000-2010")', '=COUNTIFS(A2:A31,E5,C2:C31,"Yes",  B2:B31,"2000-2010")', '=J5/I5', '=COUNTIFS(A2:A31, E5, B2:B31,"2010-2015")', '=COUNTIFS(A2:A31,E5,C2:C31,"Yes",  B2:B31,"2010-2015")', '=M5/L5'],
        ["Other", "2000-2010", "No", '', 'E', '=COUNTIF(A2:A31, E6)', '=COUNTIFS(A2:A31,E6,C2:C31,"Yes")', '=G6/F6', '=COUNTIFS(A2:A31, E6, B2:B31,"2000-2010")', '=COUNTIFS(A2:A31,E6,C2:C31,"Yes",  B2:B31,"2000-2010")', '=J6/I6', '=COUNTIFS(A2:A31, E6, B2:B31,"2010-2015")', '=COUNTIFS(A2:A31,E6,C2:C31,"Yes",  B2:B31,"2010-2015")', '=M6/L6'],
        ["Other", "2000-2010", "No", '', 'F', '=COUNTIF(A2:A31, E7)', '=COUNTIFS(A2:A31,E7,C2:C31,"Yes")', '=G7/F7', '=COUNTIFS(A2:A31, E7, B2:B31,"2000-2010")', '=COUNTIFS(A2:A31,E7,C2:C31,"Yes",  B2:B31,"2000-2010")', '=J7/I7', '=COUNTIFS(A2:A31, E7, B2:B31,"2010-2015")', '=COUNTIFS(A2:A31,E7,C2:C31,"Yes",  B2:B31,"2010-2015")', '=M7/L7'],
        ["F", "2010-2015", "Yes", '', 'Total', '=ROWS(A2:A31)', '=COUNTIFS(C2:C31,"Yes")', '=G8/F8', '=COUNTIFS(B2:B31,"2000-2010")', '=COUNTIFS(C2:C31,"Yes",  B2:B31,"2000-2010")', '=J8/I8', '=COUNTIFS(B2:B31,"2010-2015")', '=COUNTIFS(C2:C31,"Yes",  B2:B31,"2010-2015")', '=M8/L8'],
        ["Other", "2000-2010", "Yes", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["A", "2000-2010", "Yes", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2010-2015", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["B", "2000-2010", "Yes", '', '', '', '', '', '', '', '', '', '', ''],
        ["C", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["A", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2010-2015", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["A", "2000-2010", "Yes", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2010-2015", "Yes", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["F", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["C", "2000-2010", "Yes", '', '', '', '', '', '', '', '', '', '', ''],
        ["C", "2010-2015", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2010-2015", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["C", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', ''],
        ["Other", "2000-2010", "No", '', '', '', '', '', '', '', '', '', '', '']
      ]

      $.ajax({
        type: "GET",
        url: "/berkeley.csv",
        dataType: "text",

        success: function (berkeley_full) {
          var parsedBerkeleyFull = Papa.parse(berkeley_full);
          console.log("parsedBerkeleyFull is ", parsedBerkeleyFull)
          const hot = new Handsontable(container, {
            data: parsedBerkeleyFull.data,
            rowHeaders: true,
            colHeaders: true,
            formulas: {
              engine: hf,
              sheetName: "Sheet1",
            },
            afterFormulasValuesUpdate,
            licenseKey: "non-commercial-and-evaluation", // for non-commercial use only
          });

          const logSelectedDFG = () => {
            const selectedCells = hot.getSelected();
            if (selectedCells.length === 1) {
              const startRow = selectedCells[0][0];
              const startCol = selectedCells[0][1];
              logDFG({ sheet: 0, col: startCol, row: startRow });
            } else if (selectedCells.length > 1) {
              const startRow = selectedCells[0][0];
              const startCol = selectedCells[0][1];
              const endRow = selectedCells[1][0];
              const endCol = selectedCells[1][1];
              logGroupDFG({ sheet: 0, startCol, startRow, endCol, endRow });
            }
          };

          window.onkeydown = function (event) {
            if (event.ctrlKey) {
              // If 'ctrl' is pressed, visualize currently selected
              logSelectedDFG();
            }
          };
        },
        error: function () {
          console.log("berkeley request failed");
        },
      });

    </script>
  </body>
</html>
